# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Original model backup
model/emotion_detection_bilstm.keras

# OS files
.DS_Store
Thumbs.db